h2 {
    display: flex;
    justify-content: center;
    margin: 0 0 12vh;
    padding-top: 3vh;
}

.bothParts {
    padding: 0 15vw;
    display: flex;
    flex-direction: column;
}

.contentBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10vh;
}

p {
    font-size: larger;
    text-align: justify;
}

img {
    width: 15%;
    max-width: 15%;
    height: 10%;
    display: block;
    border-radius: 10px;
}

.imgDesktop {
    display: none;
}

.imgMobile {
    margin: 0 auto;
    min-height: 100px;
    min-width: 100px;
}

.imgLeft {
    padding-right: 4vw;
}

.imgRight {
    padding-left: 4vw;
}

hr {
    width: 40%;
    height: 1.5px;
    background-color: rgb(19, 19, 19);
    border: none;
}

@media screen and (min-width: 900px) {

    .bothParts {
        padding: 0 2vw 10vh 17vw;
    }

    .imgMobile {
        display: none;
    }

    .imgDesktop {
        display: block;
    }

    img {
        display: block;
        max-width: 10em;
        max-height: 10em;
    }




    /* navbar, normalement en commun. */
    /* ul {
        align-items: start;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 50%;
        left: 8%;
        transform: translate(-50%, -50%);

        height: 5vh;
        min-height: 30px;
    } */

    /* a {
        font-size: 1.5em;
    } */

    /* li {
        margin-top: 15%;
    } */

    /* i {
        margin: 0 5px;
    } */
}